{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="box text-dark">
        <form action="{% url 'logar' %}" method="post">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} mt-3">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">LOGAR</h2>
            <br>
            <div class="form-floating mb-3">
                <input name="username" class="form-control" type="text" id="txtUsername" placeholder=" " />
                <label for="txtUsername">Usuário</label>
            </div>
            <br>
            <div class="form-floating mb-4">
                <input name="password" class="form-control" type="password" id="txtPassword" placeholder=" " />
                <label for="txtPassword">Senha</label>
            </div>
            <a href="{% url 'password_reset' %}" class="mb-5 text-decoration-none text-light">Esqueci minha senha</a>
            <br>
            <input type="submit" value="LOGAR" class="btn btn-success btn-lg mt-4 me-3">
            <a href="{% url 'cadastro' %}" class="btn btn-primary btn-lg mt-4">CADASTRO</a>
        </form>
    </div>
{% endblock %}