{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="box text-dark">
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h2>
            <br>
            <div class="form-floating mb-4">
                <input name="email" class="form-control" type="email" id="txtEmail" placeholder=" " />
                <label for="txtEmail">E-mail</label>
            </div>
            <input type="submit" value="Recuperar Senha" class="btn btn-success btn-lg mt-4 me-3">
            <div class="text-light">
                {% if form.errors %}
                    {{form.errors}}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
