{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="box text-dark">
            <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h2>
            <br>
            <div class="text-light">                
            <p >
                Sua senha foi alterada com sucesso!
            </p>
            <p>
                Acesse nossa página de Login para entrar no sistema.            
            </p>
            </div>
            <a  class="btn btn-success btn-lg mt-4 me-3" href="{% url 'logar' %}">Login</a>
    </div>
{% endblock %}
