{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
    <div class="box text-dark">
            <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h2>
            <br>
            <p class="text-light">
                Enviamos para o seu email um link para alteração da senha.
            </p>
            <a  class="btn btn-success btn-lg mt-4 me-3" href="{% url 'logar' %}">Login</a>
    </div>
{% endblock %}

